.buttons {
    padding-top: 30px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background: transparent;
    transition: .1s ease;
}

.button:hover {
    background: #e0e0e0;
    box-shadow: 1px 1px 4px 1px #e0e0e0;
}

.button:not(:last-child) {
    margin-right: 10px;
}
